## 농산물 가격 예측 AI 경진대회_04. 데이터 셋 재구성
### 0. 패키지 & 데이터 불러오기

!pip install tslearn

In [1]:
import pandas as pd
import numpy as np
import datetime as dt

In [2]:
# 한글 폰트 사용을 위해서 세팅
from matplotlib import font_manager, rc
font_path = "C:/Windows/Fonts/NGULIM.TTF"
font = font_manager.FontProperties(fname=font_path).get_name()
rc('font', family=font)

In [3]:
train_4 = pd.read_csv('train_4_feature.csv')
train_4_c= train_4.drop(['WHSAL_NM','CMP_NM','DAN_NM','POJ_NM','SIZE_NM','LV_NM'],axis=1)

C:\Users\juyeo\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3457: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [4]:
train_1 = train_4_c[train_4_c['PUM_NM'] == '배추']
train_1.reset_index(inplace=True,drop=True)
train_1

train_2 = train_4_c[train_4_c['PUM_NM']=='양파']
train_2.reset_index(inplace=True,drop=True)
train_2.head()

   SALEDATE PUM_NM KIND_NM    SAN_NM  DANQ    QTY     COST  TOT_QTY    TOT_AMT
0  20160109     양파  양파(일반)  경상남도 창녕군  20.0   55.0  30200.0   1100.0  1661000.0
1  20160109     양파  양파(일반)  경상남도 창녕군  20.0   55.0  30200.0   1100.0  1661000.0
2  20160109     양파  양파(일반)  경상남도 창녕군  20.0   50.0  30200.0   1000.0  1510000.0
3  20160109     양파  양파(일반)  경상남도 창녕군  20.0   50.0  30200.0   1000.0  1510000.0
4  20160109     양파  양파(일반)     부산 중구  20.0  300.0  25000.0   6000.0  7500000.0

### 날짜 전처리

In [5]:
def pret_date(data):
    train_date = data['SALEDATE'].astype('str')
    
    for i in range(len(train_date)):
        if len(train_date[i]) == 8:
            train_date[i] = train_date[i][:4]+'-'+train_date[i][4:6]+'-'+train_date[i][6:]
        else :
            pass
        
    return train_date

### 주소 전처리

In [6]:
def pret_addr(data):
    SAN_NM = data['SAN_NM'].astype('str')
    split_1 = SAN_NM.str.split(' ')
    place = split_1.str[0]
    
    for i in range(len(place)):
        if '광역시' in place[i]:
            place[i] = place[i][:-3]
        else :
            pass
        
    for i in range(len(place)):
        if place[i] == '서울':
            place[i] = '서울경기'
        elif place[i] == '서울특별시':
            place[i] = '서울경기'
        elif place[i] == '인천':
            place[i] = '서울경기'
        elif place[i] == '경기':
            place[i] = '서울경기'
        elif place[i] == '경기도':
            place[i] = '서울경기'
        elif place[i] == '강원도':
            place[i] = '강원'
        elif place[i] == '충청남도':
            place[i] = '충남'
        elif place[i] == '대전':
            place[i] = '충남'
        elif place[i] == '충청북도':
            place[i] = '충북'
        elif place[i] == '세종시':
            place[i] = '충북'
        elif place[i] == '전라남도':
            place[i] = '전남'
        elif place[i] == '광주':
            place[i] = '전남'
        elif place[i] == '전라북도':
            place[i] = '전북'
        elif place[i] == '경상남도':
            place[i] = '경남'
        elif place[i] == '부산':
            place[i] = '경남'
        elif place[i] == '경상북도':
            place[i] = '경북'
        elif place[i] == '울산':
            place[i] = '경북'
        elif place[i] == '대구':
            place[i] = '경북'
        elif place[i] == '제주도':
            place[i] = '제주'
        else :
            place[i] = '전국'
    
    return place

In [7]:
def make_data(data):
    make_data = pd.DataFrame()
    make_data['날짜'] = pret_date(data)
    make_data['지점'] = pret_addr(data)
    return make_data

In [8]:
data_cabbage = make_data(train_1)
data_onion = make_data(train_2)

In [10]:
data_cabbage['지점'].unique()

array(['전남', '경남', '경북', '서울경기', '충남', '전국', '강원', '제주', '전북', '충북'],
      dtype=object)

In [11]:
data_cabbage.to_csv('data_cabbage.csv',index=False)
data_onion.to_csv('data_onion.csv',index=False)