<a href="https://colab.research.google.com/github/juyeon-shin/CLUB-D.N.A./blob/main/2022/01.%20%ED%8E%AD%EA%B7%84%20%EB%AA%B8%EB%AC%B4%EA%B2%8C%20%EC%98%88%EC%B8%A1%20%EA%B2%BD%EC%A7%84%EB%8C%80%ED%9A%8C/01_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EC%A0%84%EC%B2%98%EB%A6%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
import pandas as pd
import numpy as np

### 데이터 불러오기 
#### 데이터 설명
+ id : 샘플 아이디   
+ Species: 펭귄의 종을 나타내는 문자열   
+ Island : 샘플들이 수집된 Palmer Station 근처 섬 이름   
+ Clutch Completion : 관찰된 펭귄 둥지의 알이 2개인 경우 Full Clutch이며 Yes로 표기    
+ Culmen Length (mm) : 펭귄 옆모습 기준 부리의 가로 길이    
+ Culmen Depth (mm) : 펭귄 옆모습 기준 부리의 세로 길이    
+ Flipper Length (mm) : 펭귄의 팔(날개) 길이    
+ Sex : 펭귄의 성별    
+ Delta 15 N (o/oo)  : 토양에 따라 변화하는 안정 동위원소 15N:14N의 비율    
+ Delta 13 C (o/oo) : 먹이에 따라 변화하는 안정 동위원소 13C:12C의 비율    
+ Body Mass (g): 펭귄의 몸무게를 나타내는 숫자 (g)

In [3]:
train = pd.read_csv('/content/drive/MyDrive/2022/202201 펭귄 몸무게 예측 경진대회/데이터/train.csv')
train

      id  ... Body Mass (g)
0      0  ...          5550
1      1  ...          3800
2      2  ...          4400
3      3  ...          4850
4      4  ...          5700
..   ...  ...           ...
109  109  ...          3700
110  110  ...          4250
111  111  ...          4100
112  112  ...          2700
113  113  ...          5600

[114 rows x 11 columns]

In [4]:
test = pd.read_csv('/content/drive/MyDrive/2022/202201 펭귄 몸무게 예측 경진대회/데이터/test.csv')
test

      id  ... Delta 13 C (o/oo)
0      0  ...         -24.68440
1      1  ...         -26.35425
2      2  ...         -26.11199
3      3  ...         -24.78984
4      4  ...         -25.19837
..   ...  ...               ...
223  223  ...         -24.59513
224  224  ...         -26.59290
225  225  ...         -25.32829
226  226  ...         -24.72940
227  227  ...         -25.89677

[228 rows x 10 columns]

In [5]:
#데이터 확인 & 결측값 확인 & 범주형 변수 값 보기

def data_info (data):
  print('데이터 타입 확인\n',data.dtypes)
  print('\n결측값 확인\n',data.isnull().sum())
  print('\n범주형 변수')
  for i in data.columns:
    if data[i].dtypes == 'object' :
      print('\n',i,'\n',data[i].unique())

  return

In [6]:
data_info(train)
data_info(test)

데이터 타입 확인
 id                       int64
Species                 object
Island                  object
Clutch Completion       object
Culmen Length (mm)     float64
Culmen Depth (mm)      float64
Flipper Length (mm)      int64
Sex                     object
Delta 15 N (o/oo)      float64
Delta 13 C (o/oo)      float64
Body Mass (g)            int64
dtype: object

결측값 확인
 id                     0
Species                0
Island                 0
Clutch Completion      0
Culmen Length (mm)     0
Culmen Depth (mm)      0
Flipper Length (mm)    0
Sex                    3
Delta 15 N (o/oo)      3
Delta 13 C (o/oo)      3
Body Mass (g)          0
dtype: int64

범주형 변수

 Species
 ['Gentoo penguin (Pygoscelis papua)'
 'Chinstrap penguin (Pygoscelis antarctica)'
 'Adelie Penguin (Pygoscelis adeliae)']

 Island
 ['Biscoe' 'Dream' 'Torgersen']

 Clutch Completion
 ['Yes' 'No']

 Sex
 ['MALE' 'FEMALE' nan]
데이터 타입 확인
 id                       int64
Species                 object
Island                  object
Clutch Completion       object
Culmen Length (mm)     float64
Culmen Depth (mm)      float64
Flipper Length (mm)    float64
Sex                     object
Delta 15 N (o/oo)      float64
Delta 13 C (o/oo)      float64
dtype: object

결측값 확인
 id                     0
Species                0
Island                 0
Clutch Completion      0
Culmen Length (mm)     0
Culmen Depth (mm)      0
Flipper Length (mm)    0
Sex                    6
Delta 15 N (o/oo)      9
Delta 13 C (o/oo)      8
dtype: int64

범주형 변수

 Species
 ['Chinstrap penguin (Pygoscelis antarctica)'
 'Gentoo penguin (Pygoscelis papua)' 'Adelie Penguin (Pygoscelis adeliae)']

 Island
 ['Dream' 'Biscoe' 'Torgersen']

 Clutch Completion
 ['Yes' 'No']

 Sex
 ['MALE' 'FEMALE' nan]

### 결측값 처리
범주형 변수 결측값 처리
+ 데이터 타입이 범주형, 결측값이 존재한다면 칼럼 마다 해당 행 삭제

수치형 변수 결측값 처리
+ 데이터 타입이 수치형, 결측값이 존재한다면 Speices로 그룹화 한 칼럼의 평균값 대체

In [7]:
def remove_obj (data):
  for i in data.columns:
    if data[i].dtypes == 'object':
      if data[i].isna().sum() > 0:
        data = data.dropna(subset = [i], axis=0)
  print(data.isnull().sum())
  return data

In [8]:
pret_train = remove_obj(train)
pret_test = remove_obj(test)

id                     0
Species                0
Island                 0
Clutch Completion      0
Culmen Length (mm)     0
Culmen Depth (mm)      0
Flipper Length (mm)    0
Sex                    0
Delta 15 N (o/oo)      2
Delta 13 C (o/oo)      2
Body Mass (g)          0
dtype: int64
id                     0
Species                0
Island                 0
Clutch Completion      0
Culmen Length (mm)     0
Culmen Depth (mm)      0
Flipper Length (mm)    0
Sex                    0
Delta 15 N (o/oo)      7
Delta 13 C (o/oo)      6
dtype: int64

In [9]:
def fillna_int (data):
  for i in data.columns:
    if data[i].dtypes != 'object':
      if data[i].isna().sum() > 0:
        data[i] = data[i].fillna(data[i].mean())
  return data

In [10]:
pret_train = fillna_int(pret_train)
data_info(pret_train)

데이터 타입 확인
 id                       int64
Species                 object
Island                  object
Clutch Completion       object
Culmen Length (mm)     float64
Culmen Depth (mm)      float64
Flipper Length (mm)      int64
Sex                     object
Delta 15 N (o/oo)      float64
Delta 13 C (o/oo)      float64
Body Mass (g)            int64
dtype: object

결측값 확인
 id                     0
Species                0
Island                 0
Clutch Completion      0
Culmen Length (mm)     0
Culmen Depth (mm)      0
Flipper Length (mm)    0
Sex                    0
Delta 15 N (o/oo)      0
Delta 13 C (o/oo)      0
Body Mass (g)          0
dtype: int64

범주형 변수

 Species
 ['Gentoo penguin (Pygoscelis papua)'
 'Chinstrap penguin (Pygoscelis antarctica)'
 'Adelie Penguin (Pygoscelis adeliae)']

 Island
 ['Biscoe' 'Dream' 'Torgersen']

 Clutch Completion
 ['Yes' 'No']

 Sex
 ['MALE' 'FEMALE']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [11]:
pret_test = fillna_int(pret_test)
data_info(pret_test)

데이터 타입 확인
 id                       int64
Species                 object
Island                  object
Clutch Completion       object
Culmen Length (mm)     float64
Culmen Depth (mm)      float64
Flipper Length (mm)    float64
Sex                     object
Delta 15 N (o/oo)      float64
Delta 13 C (o/oo)      float64
dtype: object

결측값 확인
 id                     0
Species                0
Island                 0
Clutch Completion      0
Culmen Length (mm)     0
Culmen Depth (mm)      0
Flipper Length (mm)    0
Sex                    0
Delta 15 N (o/oo)      0
Delta 13 C (o/oo)      0
dtype: int64

범주형 변수

 Species
 ['Chinstrap penguin (Pygoscelis antarctica)'
 'Gentoo penguin (Pygoscelis papua)' 'Adelie Penguin (Pygoscelis adeliae)']

 Island
 ['Dream' 'Biscoe' 'Torgersen']

 Clutch Completion
 ['Yes' 'No']

 Sex
 ['MALE' 'FEMALE']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [12]:
pret_train.to_csv('/content/drive/MyDrive/2022/202201 펭귄 몸무게 예측 경진대회/데이터/pret_train.csv',index=False)
pret_test.to_csv('/content/drive/MyDrive/2022/202201 펭귄 몸무게 예측 경진대회/데이터/pret_test.csv',index=False)