<a href="https://colab.research.google.com/github/juyeon-shin/CLUB-D.N.A./blob/main/2022/05.%20%EB%8B%A4%EC%9D%B4%EC%95%84%EB%AA%AC%EB%93%9C%20%EA%B0%80%EA%B2%A9%20%EC%98%88%EC%B8%A1/220823_%EC%A3%BC%EC%97%B0_Catboost.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
train = pd.read_csv('/content/drive/Shareddrives/202206 나의 분석일지/다이아몬드 가격 예측/Diamonds Prices2022.csv')

In [ ]:
train = train.drop(['Unnamed: 0'],axis=1)
train

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64
53940   0.71    Premium     E     SI1   60.5   55.0   2756  5.79  5.74  3.49
53941   0.71    Premium     F     SI1   59.8   62.0   2756  5.74  5.73  3.43
53942   0.70  Very Good     E     VS2   60.5   59.0   2757  5.71  5.76  3.47

[53943 rows x 10 columns]

+ 수치형 변수 : carat, x,y,z
+ 범주형 변수 : color, color/clarity

color/clarity 는 파생변수

In [ ]:
train_c = train.copy()
train_c['color/clarity'] = train_c['color']+'/'+train_c['clarity']
train_c = train_c.drop(['cut','clarity','depth','table'],axis=1)
train_c

       carat color  price     x     y     z color/clarity
0       0.23     E    326  3.95  3.98  2.43         E/SI2
1       0.21     E    326  3.89  3.84  2.31         E/SI1
2       0.23     E    327  4.05  4.07  2.31         E/VS1
3       0.29     I    334  4.20  4.23  2.63         I/VS2
4       0.31     J    335  4.34  4.35  2.75         J/SI2
...      ...   ...    ...   ...   ...   ...           ...
53938   0.86     H   2757  6.15  6.12  3.74         H/SI2
53939   0.75     D   2757  5.83  5.87  3.64         D/SI2
53940   0.71     E   2756  5.79  5.74  3.49         E/SI1
53941   0.71     F   2756  5.74  5.73  3.43         F/SI1
53942   0.70     E   2757  5.71  5.76  3.47         E/VS2

[53943 rows x 7 columns]

In [ ]:
X = train_c.drop(['price'],axis=1)
y = train_c['price']

In [ ]:
#import catboost as cb
#import shap 
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.inspection import permutation_importance

In [ ]:
#!pip install catboost
import catboost as cb

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2, random_state=2022)

In [ ]:
train_data = cb.Pool(X_train, y_train)
test_data = cb.pool(X_test, y_test)

In [ ]:
model = cb.CatBoostRegressor()

In [ ]:
grid = {'iterations': [100, 150, 200],
        'learning_rate': [0.03, 0.1],
        'depth': [2, 4, 6, 8],
        'l2_leaf_reg': [0.2, 0.5, 1, 3]}
model.grid_search(grid, train_data)

In [ ]:
np.sqrt(913342)

955.6892800486987