In [2]:
import pandas as pd
import numpy as np

In [6]:
data = pd.read_csv('full_data.csv')
data

,application_id,loanapply_insert_time,bank_id,product_id,loan_limit,loan_rate,is_applied,user_id,birth_year,gender,...,UseLoanManage,Login,OpenApp,UsePrepayCalc,StartLoanApply,ViewLoanApplyIntro,CompleteIDCertification,EndLoanApply,SignUp,UseDSRCalc
0,1748340,2022-06-07 13:05:41,7,191,42000000.0,13.6,NaN,430982,1996.0,1.0,...,1.0,0.0,26.0,0.0,33.0,7.0,7.0,32.0,0.0,0.0
1,1748340,2022-06-07 13:05:41,25,169,24000000.0,17.9,NaN,430982,1996.0,1.0,...,1.0,0.0,26.0,0.0,33.0,7.0,7.0,32.0,0.0,0.0
2,1748340,2022-06-07 13:05:41,2,7,24000000.0,18.5,NaN,430982,1996.0,1.0,...,1.0,0.0,26.0,0.0,33.0,7.0,7.0,32.0,0.0,0.0
3,1748340,2022-06-07 13:05:41,4,268,29000000.0,10.8,NaN,430982,1996.0,1.0,...,1.0,0.0,26.0,0.0,33.0,7.0,7.0,32.0,0.0,0.0
4,1748340,2022-06-07 13:05:41,11,118,5000000.0,16.4,NaN,430982,1996.0,1.0,...,1.0,0.0,26.0,0.0,33.0,7.0,7.0,32.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13527245,1428218,2022-06-03 12:01:58,62,200,3000000.0,14.8,NaN,478802,1965.0,1.0,...,1.0,3.0,4.0,0.0,2.0,2.0,2.0,1.0,0.0,0.0
13527246,1428218,2022-06-03 12:01:49,2,7,40000000.0,11.8,NaN,478802,1965.0,1.0,...,1.0,3.0,4.0,0.0,2.0,2.0,2.0,1.0,0.0,0.0
13527247,1428218,2022-06-03 12:01:48,32,257,15000000.0,7.2,NaN,478802,1965.0,1.0,...,1.0,3.0,4.0,0.0,2.0,2.0,2.0,1.0,0.0,0.0
13527248,1428218,2022-06-03 12:01:48,33,110,44000000.0,13.5,NaN,478802,1965.0,1.0,...,1.0,3.0,4.0,0.0,2.0,2.0,2.0,1.0,0.0,0.0
13527249,1428218,2022-06-03 12:01:48,5,194,44000000.0,9.7,NaN,478802,1965.0,1.0,...,1.0,3.0,4.0,0.0,2.0,2.0,2.0,1.0,0.0,0.0

In [4]:
aaus = pd.read_csv('applicationid_append_user_spec_restored.csv')
aaus

,application_id,user_id,event,mp_os,mp_app_version,timestamp,latest_os,latest_version,update_times,GetCreditInfo,UseLoanManage,Login,OpenApp,UsePrepayCalc,StartLoanApply,ViewLoanApplyIntro,CompleteIDCertification,EndLoanApply,SignUp,UseDSRCalc
0,1249046,118218,[],[],[],"['2022-05-24 22:33:24', '2022-05-24 22:33:32',...",unknown,unknown,0,0,0,0,0,0,0,0,0,0,0,0
1,954900,553686,"['OpenApp', 'Login', 'StartLoanApply', 'ViewLo...","['Android', 'Android', 'Android', 'Android', '...","['3.12.1', '3.12.1', '3.12.1', '3.12.1', '3.12...","['2022-05-24 22:33:24', '2022-05-24 22:33:32',...",Android,3.14.0,3,4,2,2,2,0,2,2,2,1,0,0
2,137274,59516,['GetCreditInfo'],['android'],['466'],"['2022-05-24 22:33:24', '2022-05-24 22:33:32',...",android,466,1,1,0,0,0,0,0,0,0,0,0,0
3,1570936,167320,"['OpenApp', 'Login', 'StartLoanApply', 'ViewLo...","['Android', 'Android', 'Android', 'Android', '...","['3.12.1', '3.12.1', '3.12.1', '3.12.1', '3.12...","['2022-05-24 22:33:24', '2022-05-24 22:33:32',...",Android,3.12.1,2,1,1,3,3,0,3,3,2,1,0,0
4,967833,33400,"['OpenApp', 'UseLoanManage', 'ViewLoanApplyInt...","['iOS', 'iOS', 'iOS', 'iOS', 'iOS', 'iOS', 'iO...","['3.10.0', '3.10.0', '3.10.0', '3.10.0', '3.10...","['2022-05-24 22:33:24', '2022-05-24 22:33:32',...",iOS,3.12.0,2,2,5,0,8,0,6,7,5,5,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1394211,1864587,489900,"['Login', 'StartLoanApply', 'ViewLoanApplyIntr...","['Android', 'Android', 'Android', 'Android']","['3.8.4', '3.8.4', '3.8.4', '3.8.4']","['2022-05-24 22:33:24', '2022-05-24 22:33:32',...",Android,3.8.4,1,0,0,1,0,0,1,1,1,0,0,0
1394212,1327066,151422,"['GetCreditInfo', 'GetCreditInfo', 'GetCreditI...","['android', 'android', 'android']","['451', '451', '451']","['2022-05-24 22:33:24', '2022-05-24 22:33:32',...",android,451,1,3,0,0,0,0,0,0,0,0,0,0
1394213,1319606,173524,"['ViewLoanApplyIntro', 'GetCreditInfo', 'UseLo...","['iOS', 'iOS', 'iOS', 'iOS', 'iOS', 'iOS', 'iO...","['3.6.1', '3.6.1', '3.6.1', '3.6.1', '3.6.1', ...","['2022-05-24 22:33:24', '2022-05-24 22:33:32',...",iOS,3.6.1,1,3,5,0,0,0,2,3,1,0,0,0
1394214,1482466,766546,"['OpenApp', 'Login', 'StartLoanApply', 'ViewLo...","['Android', 'Android', 'Android', 'Android', '...","['3.8.0', '3.8.0', '3.8.0', '3.8.0', '3.8.0', ...","['2022-05-24 22:33:24', '2022-05-24 22:33:32',...",Android,3.8.1,2,0,0,2,2,0,2,5,3,4,0,0
1394215,816537,no log,no log,no log,no log,no log,no log,no log,no log,no log,no log,no log,no log,no log,no log,no log,no log,no log,no log,no log

In [3]:
full = pd.read_csv('full_data.csv')
full

,application_id,loanapply_insert_time,bank_id,product_id,loan_limit,loan_rate,is_applied,user_id,birth_year,gender,...,UseLoanManage,Login,OpenApp,UsePrepayCalc,StartLoanApply,ViewLoanApplyIntro,CompleteIDCertification,EndLoanApply,SignUp,UseDSRCalc
0,1748340,2022-06-07 13:05:41,7,191,42000000.0,13.6,NaN,430982,1996.0,1.0,...,1.0,0.0,26.0,0.0,33.0,7.0,7.0,32.0,0.0,0.0
1,1748340,2022-06-07 13:05:41,25,169,24000000.0,17.9,NaN,430982,1996.0,1.0,...,1.0,0.0,26.0,0.0,33.0,7.0,7.0,32.0,0.0,0.0
2,1748340,2022-06-07 13:05:41,2,7,24000000.0,18.5,NaN,430982,1996.0,1.0,...,1.0,0.0,26.0,0.0,33.0,7.0,7.0,32.0,0.0,0.0
3,1748340,2022-06-07 13:05:41,4,268,29000000.0,10.8,NaN,430982,1996.0,1.0,...,1.0,0.0,26.0,0.0,33.0,7.0,7.0,32.0,0.0,0.0
4,1748340,2022-06-07 13:05:41,11,118,5000000.0,16.4,NaN,430982,1996.0,1.0,...,1.0,0.0,26.0,0.0,33.0,7.0,7.0,32.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13527245,1428218,2022-06-03 12:01:58,62,200,3000000.0,14.8,NaN,478802,1965.0,1.0,...,1.0,3.0,4.0,0.0,2.0,2.0,2.0,1.0,0.0,0.0
13527246,1428218,2022-06-03 12:01:49,2,7,40000000.0,11.8,NaN,478802,1965.0,1.0,...,1.0,3.0,4.0,0.0,2.0,2.0,2.0,1.0,0.0,0.0
13527247,1428218,2022-06-03 12:01:48,32,257,15000000.0,7.2,NaN,478802,1965.0,1.0,...,1.0,3.0,4.0,0.0,2.0,2.0,2.0,1.0,0.0,0.0
13527248,1428218,2022-06-03 12:01:48,33,110,44000000.0,13.5,NaN,478802,1965.0,1.0,...,1.0,3.0,4.0,0.0,2.0,2.0,2.0,1.0,0.0,0.0
13527249,1428218,2022-06-03 12:01:48,5,194,44000000.0,9.7,NaN,478802,1965.0,1.0,...,1.0,3.0,4.0,0.0,2.0,2.0,2.0,1.0,0.0,0.0